body {
  background-image:  url('../img/logo.png');
  background-repeat: no-repeat;
}

h1 {
  color: blue;
  font-size: 12px;
}

p {
  color: white;
  font-size: 24px;
}

.wrapper {
  background-color: black;

}