body {
  background:#524763 url('../img/logo.png') no-repeat;
  margin: 0;
}

h1, h2 {
  color: blue;
}

h1 {
  font-size: 30px;
    
}

p {
  font-size: 14px;
  color: green;
}

.warning {
  color: white;
  background: red;
}

.nav {
  list-style: none;
  padding:0;
}

.nav li {
  display: inline;
}

.wrapper {
  border: 10px dashed #333;
  margin: 50px auto;
  background: white;
  width: 80%;
  max-width: 800px;
  min-width: 400px;
  min-height: 200px;
  padding: 40px;
}

.wrapper a {
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.wrapper a:active {
  background: blue;
}

.red {
  width: 5%;
  background: red;
  height: 100px;
}