body {
  background:#524763 url('../img/logo.png') no-repeat;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 14px;
}

.nav {
  list-style: none;
  padding:0;
}

.nav li {
  display: inline;
}

.wrapper {
  background-color: white;
}

.wrapper a {
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.wrapper a:active {
  background: blue;
}